body{
    background-color: lawngreen;
    text-align:center;
    font-family:cursive;
}
img{
    height:400px;
    width:400px;
    border-radius:400px;
}
.container{
    color:dodgerblue;
}
h2,h5{
    color:orange;
}
#myCarousel{
   height:fit-content;
}